div {
    width: 100%;
    height: 100%
}

svg {				
    width: 100%;		
    height: 100%; 
}

#correlationMatrix {
    height: 1000
}

.cell {
    stroke-width: 1px;
    stroke: black;
}

.legend {
    font-size: 11;
}

#colourBar {
    position: relative;
}
