.cell {
    stroke-width: 1px;
    stroke: black;
}

.legend {
    font-size: 11;
}

#colourBar {
    position: relative;
}

#map {
    position: relative;
}

#mapTitle {
    position: relative;
}

#spider {
    position: relative;
}

.sectionTitle {
    font-size: 22;
    font-weight: bold;
}

.description {
    font-size: 20;
}
